@import "./scss/btn.scss";
@import "./scss/form.scss";
@import "./scss/margin.scss";
@import "./scss/padding.scss";
@import "./scss/input-group.scss";
@import "./scss/text.scss";
@import "./scss/breadcrumbs.scss";
@import "./scss/reset.scss";

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
}
body{	
	color: #484848;
	font: 14px/1.42857143 "Microsoft YaHei", Arial, Tahoma, "Hiragino Sans GB", simsun;
	background-color: #fff;	
	background-color: #f9f9f9;
	position: relative;
	min-width: 1200px;
    line-height: 1.42857143;
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {margin: 0;padding: 0;}
ol, ul {list-style: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal; font-size: 100%;}
h2 { font-size: 30px; color: #313131; }
a{ color:#06c; text-decoration: none; transition: 0.25s;}
a:hover{color:#06c;}
/* hx */
h2,.h2{
	font-size: 26px;
	font-weight: 300;
	padding-bottom: 10px;
}
h3,.h3{
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 10px;
}
h4,.h4{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
}

.clear {clear: both;}

.header {
    position: relative;
    z-index: 9;
}

.text-red {
    color: #e1484c;
}

.bgwhite {
    background-color: #fff;
    zoom: 1;
}

.navbar {
    background-color: #fff;

    .container {
        position: relative;
    }
}
.navbar-nav {
    float: left;
    padding: 0 0 0 20px;

    .navbar-item {
        float: left;
        position: relative;
    }

    .navbar-link {
        display: block;
        line-height: 30px;
        overflow: hidden;
        padding: 14px 28px;
        font-size: 16px;
        color: #666;
        _float: left;
        _clear: both;

        &:hover{color: #fff; background-color: #11a1c8; background-color: rgba(255,255,255,.08); *background-color: #11a1c8;}
    }
}
.navbar-blue {
    background: url("../resource/front/masthead.jpg") center -20px repeat-x #11a1c8;

    .navbar-nav {
        .navbar-link {
            padding: 14px 28px;
            font-size: 16px;
            color: #fff;

            .userlink {
                color: #f0f9ff;
                font-size: 13px;
            }
        }

        li.current .navbar-link {
            text-decoration: none;
            color: #fff;
            background-color: #0a89b4;
            background-color: rgba(0,0,0,.08);
        }
    }

    .navbar-links {
        .navbar-item {
            padding-top: 13px;
        }

        .iconlink {
            color: #fff;
            background-color: #11a1c8;

            &:hover{ color: #0a89b4; background-color: #fff; }
        }

        .userlink a {
            color: #f0f9ff;
            font-size: 13px;
        }

        .userlink .sep {
            color: #25a9d6;
            padding: 0 10px;
            font-size: 90%;
            font-family: simsun;
        }
    }
}

.navbar-inverse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    _position: absolute;
    _top: expression(documentElement.scrollTop);
    width: 100%;
    background-color: #e1484c;

    .navbar-nav li .navbar-link {
        color: #ffd5d6;

        &:hover{color: #fff;}
    }

    .sep {
        color: #d7d7d7;
        padding: 0 10px;
        font-size: 90%;
        font-family: simsun;
    }

    .out {
        color: #ffd5d6;

        &:hover{color: #fff;}
    }
}

.navbar-brand {
    float: left;
    margin-top: 11px;

    img {
        height: 38px;
    }
}

.navbar-links {
    position: absolute;
    top: 0;
    right: 15px;

    .navbar-item {
        float: left;
        padding-top: 13px;
        padding-left: 5px;
        line-height: 32px;
        position: relative;
    }

    .iconlink {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 34px;
        text-align: center;
        color: #666;
        background-color: #f5f5f6;
        border-radius: 16px;
    }

    .iconlink-account {
        width: 100px;
        color: #e43d3f;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.masthead {
    position: relative;
    height: 610px;
    width: 100%;
    overflow: hidden;
    background: url("../resource/front/masthead.jpg") center center repeat-x #11a1c8;
}

.masthead-jumbotron {
    height: 330px;
    text-align: center;
    color: #fff;
    background: url("../resource/front/jumbotron.png") center center no-repeat;
}

.masthead-feature {
    height: 280px;
    overflow: hidden;
    background: url("../resource/front/feature.png") center center no-repeat;
}

.iconimg {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    background-repeat: no-repeat;
}

.feature-group {
    li {
        color: #fff;
        float: left;
        width: 20%;
        padding-top: 55px;
        overflow: hidden;
        text-align: center;
        font-size: 13px;
        line-height: 1.8;
    }

    .iconimg {
        width: 72px;
        height: 72px;
        margin: 0 auto;
        background-image: url("../resource/front/newindex.png");
    }

    .iconimg-heart {
        background-position: -92px 0;
    }

    .iconimg-safe {
        background-position: -184px 0;
    }

    .iconimg-fast {
        background-position: -276px 0;
    }

    .iconimg-price {
        background-position: -368px 0;
    }

    h5 {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 20px 0 10px 0;
    }
}

.cards-caption {
    text-align: center;
    font-size: 16px;
    color: #919191;
}

.cards-group {
    text-align: center;
    margin: 0 auto;

    li {
        float: left;
        width: 167px;
        overflow: hidden;

        > a {
            cursor: default;
            display: block;
            overflow: hidden;
            padding: 15px 20px 20px 20px;
            text-align: center;
            border: 2px solid #fff;
            background-color: #fff;
            border-radius: 3px;
            transition: 0s;

            &:hover {
                position: relative;
                border-color: #31aae1;
                background-color: #fff;
                text-decoration: none;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            width: 115px;
            margin-bottom: 3px;
        }

        .title {
            display: block;
            font-size: 13px;
            color: #666;
            height: 18px;
            overflow: hidden;
        }

        .tag {
            display: block;
            height: 26px;
            line-height: 25px;
            overflow: hidden;
            margin-top: 13px;
            font-size: 13px;
            color: #616161;
            background-color: #f4f7f9;
            border-radius: 3px;
        }

        .go {
            display: block;
            height: 26px;
            line-height: 25px;
            overflow: hidden;
            margin-top: 13px;
            font-size: 13px;
            color: #fff;
            background-color: #31aae1;
            border-radius: 3px;
            transition: .25s;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #e0484c;
            }
        }
    }
}

.footer {
    background-color: #f9f9f9;

    .footer-links {
        padding: 40px 0;
        border-bottom: 1px solid #eee;

        .col-links {
            float: left;
            width: 25%;
            text-align: left;
            font-size: 14px;

            &.col-links-sm {
                width: 15%;
            }

            h2 {
                font-size: 14px;
                font-weight: 900;
            }

            p {
                font-size: 12px;
                margin-top: 20px;

                a {
                    color: #8e8e8e;
                    
                    &:hover {
                        color: #06c;
                    }
                }
            }

            .hot-line {
                position: relative;

                span.time-val {
                    width: 200px;
                    font-size: 14px;
                    position: absolute;
                    left: 60px;
                    top: 25px;
                }
                span.tel-val {
                    width: 200px;
                    font-size: 25px;
                    position: absolute;
                    left: 60px;
                    top: 45px;
                    font-weight: 900;
                }
            }
            .hot-tel {
                margin-top: 33px;
            }

            .foot-kf-btn {
                margin-top: 30px;
                color: #999;
                display: inline-block;
                font-weight: normal;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid #c2c2c2;
                box-sizing: border-box;
                height: 60px;
                line-height: 60px;
                font-size: 14px;
                width: 205px;
                border-radius: 4px;
                -webkit-transition: all .5s;
                transition: all .5s;

                &:hover {
                    border-color: rgb(235, 90, 71);
                    color: rgb(235, 90, 71);
                }
            }
        }
    }

    .copyright {
        padding: 25px 0;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        color: #99999a;
    }
}

.content-caption {
    width: 100%;
    overflow: hidden;
    padding-bottom: 8px;
    background: url("../resource/front/sawtooth.gif") center bottom repeat-x #f9f9f9;

    .container {
        padding: 10px 0;

        h2 {
            line-height: 44px;
            font-size: 20px;
            padding: 0;
            font-weight: 400;
        }
    }
}

.box {
    margin: 0 auto;
    padding: 25px 30px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    zoom: 1;

    h2 {
        margin-bottom: 7px;

        small {
            padding-top: 4px;
        }
    }
}

.help-aside {
    width: 188px;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0;
}

.help-links {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    overflow: hidden;
    zoom: 1;

    dt {
        font-size: 18px;
        color: #999;
        padding: 15px 0;
        text-indent: 43px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        background-color: #f9f9fa;
    }

    dd {
        width: 183px;
        font-size: 16px;
        overflow: hidden;
        margin: 3px 0;
        border-left: 3px solid #fff;

        a {
            display: block;
            padding: 10px 40px;

            &:hover{ background-color: #f9f9fa;}	
        }

        &.current{ border-color: #e43d3f; background-color: #f9f9fa;}
    }
}

.help-main {
    overflow: hidden;
    padding: 0 40px 80px 40px;
    font-size: 14px;
    line-height: 1.8;
    color: #333;
    zoom: 1;

    h2 {
        font-size: 24px;
        color: #000;
        padding: 7px 0 13px 0;
        font-weight: 300;
        border-bottom: 1px solid #f2f2f3;
        margin-bottom: 20px;
    }

    .help-cont {
        min-height: 480px;
        font-size: 15px;
    }
}

.faq-item {
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #f0f0f0;

    .faq-tite {
        font-size: 16px;

        a {
            position: relative;
            display: block;
            line-height: 24px;
            font-size: 18px;
            overflow: hidden;
            font-weight: 600;
            border-radius: 3px;
            color: #666;
            padding: 15px 0;

            .iconimg {
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 22px;
                margin-top: -6px;
                background: url("../resource/front/amount.gif") right 0 no-repeat;
                filter: alpha(opacity=30);
                opacity: 0.3;
            }

            strong {
                font-weight: 400;
            }

            &.open {
                color: #e43d3f;

                .iconimg {
                    background-position: 0 0;
                }
            }
        }
    }

    .faq-cont {
        margin: 0 0 15px 30px;
        margin-left: 0;
        font-size: 15px;
        padding: 0 15px;
        color: #080;
        line-height: 1.8;
        border-left: 3px solid #ddd;
    }
}

.signin-panel {
    padding: 65px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    zoom: 1;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.signform {
    float: right;
    width: 280px;
    overflow: hidden;

    .form-group {
        position: relative;
        margin-bottom: 15px;
    }

    .verifyimg {
        position: absolute;
        top: 1px;
        right: 2px;
        height: 32px;
        cursor: pointer;
    }

    .control-label {
        position: absolute;
        left: 13px;
        line-height: 36px;
        padding: 0;
        color: #999;
    }

    .form-control {
        text-indent: 0;
        padding-left: 39px;
    }
}

.signbanner {
    text-align: center;
    padding-top: 50px;
}

.signupform {
    width: 320px;
    float: right;
    overflow: hidden;

    .form-group {
        position: relative;
    }

    .control-label {
        position: static;
        line-height: normal;
        padding: 0;
        color: #999;
        display: block;
        margin: 0;
    }

    .form-control {
        padding-left: 10px;
        text-indent: 0;
    }

    .verifyimg {
        position: absolute;
        top: 100%;
        right: 2px;
        height: 32px;
        cursor: pointer;
        margin-top: -33px;
    }

    .radio, .checkbox {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        _cursor: default;

        input {
            position: relative;
            float: left;
            margin: 4px 7px 0 0;
            cursor: pointer;
        }
    }
}

.getpass {
    width: 800px;
}

.stepflex {
    margin-left: 16.66666667%;
    width: 66.66666667%;
    margin: 30px auto;
    position: relative;

    ul {
        margin-left: 34px;

        li {
            width: 33.333333%;
            float: left;
            height: 60px;
            position: relative;
            margin-right: -2px;

            &.first {
                width: 34px !important;
                margin-left: -33px;
            }
        }
    }

    .stepflex-text {
        position: absolute;
        bottom: 0;
        right: -33px;
        width: 100px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        text-align: center;
        color: #999;
    }

    .stepflex-progress {
        position: relative;
        z-index: 2;
        top: 14px;
        margin-right: 32px;
        height: 4px;
        overflow: hidden;
        border-width: 2px 0;
        border-style: solid;
        border-color: #e5e5e6;
        background-color: #fff;
    }

    .stepflex-num {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: 2px solid #e5e5e6;
        border-radius: 50%;

        span {
            display: block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin: 3px;
            color: #fff;
            font-weight: 700;
            font-size: 13px;
            overflow: hidden;
            text-align: center;
            background-color: #bcc3cd;
            border-radius: 50%;
        }
    }

    .doing .stepflex-num {
        border-color: #41b677;
        background-color: #41b677;
        z-index: 3;

        span {
            background-color: #41b677;
        }
    }

    .doing .stepflex-text {
        color: #29a562;
    }

    .doing .stepflex-progress {
        border-color: #bcc3cd;
        background-color: #bcc3cd;
    }

    .done .stepflex-num {
        border-color: #bcc3cd;
        background-color: #bcc3cd;
        z-index: 3;
    }

    .done .stepflex-progress {
        border-color: #bcc3cd;
        background-color: #bcc3cd;
    }
}

.safe-icon-box {
    margin: 15px 30%;
    position: relative;

    .icon {
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../resource/front/safe-icon.png");
    }

    .icon-fore1{ background-position: 0 0;}  
    .icon-fore2{ background-position: -48px 0;}
    .icon-fore3{ background-position: -96px 0;}

    .fore {
        padding-left: 80px;

        .font1{color: #080;}
        .font2{color: #e4393c;}
        .font3{color: #ff6c00;}
    }
}

.view-framework {
    position: relative;
    width: auto;
    padding: 58px 0 0 180px;
    background-color: #293038;

    .view-framework-sidebar {
        position: fixed;
        top: 58px;
        bottom: 0;
        left: 0;
        width: 180px;
        background-color: #293038;
        z-index: 5;
        overflow-y: auto;
        overflow-x: hidden;
        _position: absolute;
        _top: expression(documentElement.scrollTop);
        _left: -180px;
        _margin-top: 62px;
    }

    .view-framework-body {
        width: 100%;
        background-color: #f9f9f9;

        .container-fluid {
            padding: 25px 25px 0 25px;
        }

        .box {
            margin: 0 0 20px 0;
        }
    }
}

.sidebar-title, .sidebar-trans a {
    display: block;
    color: #535a60;
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 50px;
    overflow: hidden;
    position: relative;
    background-color: #22282e;
}

.sidebar-nav .iconfont {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 30px;
    text-align: center;
    font-size: 16px;
}

.sidebar-trans a {
    color: #aeb9c2;
    background-color: transparent;
}

.sidebar-trans a{ color: #aeb9c2; background-color: transparent;}
.sidebar-trans a:hover{text-decoration: none; color: #fff; background-color: #37424f;}
.sidebar-trans .current a,
.sidebar-trans .current a:hover{ 
    color: #fff; 
    background-color: #37ade2;
}

.box-list {
    margin-top: -15px;
    li {
        padding: 15px 0;
        border-bottom: 1px solid #eeeeef;
        zoom: 1;

        &.last {
            padding-bottom: 0;
            border-bottom: 0 none;
        }
    }

    .sep {
        color: #d7d7d7;
        padding: 0 10px;
        font-size: 90%;
        font-family: simsun;
    }
}

.col-xs-06,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left; *display: inline; *overflow: hidden;}
.col-xs-12{width:100%;} 
.col-xs-11{width:91.66666667%;}
.col-xs-10{width:83.33333333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.66666667%;}
.col-xs-7{width:58.33333333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.66666667%; *width:41%;}
.col-xs-4{width:33.33333333%;}
.col-xs-3{width:25%; *width: 24.99999%;}
.col-xs-2{width:16.66666667%;}
.col-xs-1{width:8.33333333%;}
.col-xs-06{width:5.33333333%;}
.col-xs-offset-12{margin-left:100%;}
.col-xs-offset-11{margin-left:91.66666667%;}
.col-xs-offset-10{margin-left:83.33333333%;}
.col-xs-offset-9{margin-left:75%;}
.col-xs-offset-8{margin-left:66.66666667%;}
.col-xs-offset-7{margin-left:58.33333333%;}
.col-xs-offset-6{margin-left:50%;}
.col-xs-offset-5{margin-left:41.66666667%;}
.col-xs-offset-4{margin-left:33.33333333%;}
.col-xs-offset-3{margin-left:25%;}
.col-xs-offset-2{margin-left:16.66666667%;}
.col-xs-offset-1{margin-left:8.33333333%;}
.col-xs-offset-0{margin-left:0;}

.assets-yue {
    position: relative;

    .assets-icon {
        float: left;
        color: #999;
        margin-right: 15px;

        .iconfont {
            font-size: 60px;
            margin-top: 15px;
        }
    }

    .assets-title {
        font-size: 16px;
        padding-top: 15px;
    }

    .assets-money {
        font-size: 26px;
        line-height: 1.5;
        color: #e43d3f;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.progress, .progressbar {
    width: 100%;
    height: 10px;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
    background-color: #eee;
}

.progressbar {
    width: 0%;
    height: 100%;
    background-color: #26c07d;
}

.progress .securelevel-2 {
    width: 55%;
}

.security-item {
    padding: 10px 0;

    .item-icon {
        text-align: center;
    }

    .icon-open {
        color: #18b160;
    }

    .icon-close {
        color: #fc8936;
    }
}

.alert {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e6;
    background-color: #f5f5f6;
    border-radius: 4px;
}

.recycle-form {
    padding: 30px 0 50px 0;
}

.btn-group-card {
    li {
        float: left;
        width: 167px;
        overflow: hidden;
        margin: 0 10px 10px 0;

        a {
            display: block;
            width: 123px;
            height: 101px;
            overflow: hidden;
            padding: 15px 20px 20px 20px;
            text-align: center;
            color: #484848;
            border: 2px solid #eee;
            background-color: #fff;
            border-radius: 3px;
            transition: 0s;

            &:hover {
                border-color: #adadad;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            width: 115px;
            margin-bottom: 3px;
        }

        &.active {
            position: relative;

            a {
                border-color: #e1484c;

                &:hover {
                    border-color: #e1484c;
                }
            }

            b {
                display: block;
                width: 18px;
                height: 18px;
                overflow: hidden;
                position: absolute;
                right: 2px;
                bottom: 2px;
                background: url("../resource/front/selected.gif") 0 0 no-repeat;
            }
        }
    }
}

.btn-group-price {
    li {
        float: left;
        width: 200px;
        margin: 0 10px 10px 0;

        a {
            display: block;
            position: relative;
            font-size: 14px;
            padding: 0 20px;
            line-height: 36px;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            color: #484848;
            border: 2px solid #eee;
            background-color: #f5f6f7;
            border-radius: 3px;
            font-family: "Microsoft YaHei", Arial, Tahoma, "Hiragino Sans GB", simsun;

            &:hover{
                color: #333;
                text-decoration: none;
                border-color: #adadad;
                background-color: #e6e6e6;
            }
        }

        &.active {
            a {
                border-color: #e1484c;
                background-color: #f9f9fa;

                &:hover{
                    border-color: #e1484c;
                    background-color: #f9f9fa;
                }
            }

            b {
                display: block;
                width: 18px;
                height: 18px;
                overflow: hidden;
                position: absolute;
                right: 0px;
                bottom: 0px;
                background: url("../resource/front/selected.gif") 0 0 no-repeat;
            }
        }
    }
}

hr {
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    clear: both;
}

.nodata {
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    padding: 70px 0;
    color: #999;

    .iconfont {
        font-size: 64px;
        margin-bottom: 10px;
    }
}

.table {
    width: 100%;
    border: 1px solid #e5e5e6;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    border-collapse: collapse;
    border-spacing: 0;

    th, td {
        padding: 10px 20px;
        border-bottom: 1px solid #ededed;
        font-size: 14px;
        text-align: left;
    }

    th {
        background-color: #fafafa;
    }

}