.input-dropdown {
  position: relative;

  .input-area {
    border: 1px solid #e5e6e7;
    padding: 6px 12px;
    background-color: #FFFFFF;

    &.focus {
      border-color: #46A4FF;
    }

    input {
      width: 100%;
      background-color: #FFFFFF;
      background-image: none;
      border: none;
      border-radius: 1px;
      color: inherit;
      display: block;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      font-size: 14px;
      line-height: 1.42857143;
      outline: 0;
    }
  }

  .menu-area {
    position: absolute;
    width: 100%;
    margin-top: 3px;

    .menu-area-list {
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
      font-size: 12px;
      z-index: 1000;
      background-color: #fff;

      a {
        display: block;
        padding: 3px 20px;
        text-decoration: none;
        border-radius: 3px;
        color: inherit;
        line-height: 25px;
        margin: 4px;
        white-space: nowrap;
        text-align: left;
        font-weight: normal;
        cursor: pointer;

        &.hover {
            color: #fff;
            text-decoration: none;
            background-color: #46A4FF
        }
      }
    }
  }
}