.popover {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1010;
    display: block;
    max-width: 276px;
    font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.54;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    white-space: normal;

    &.top {
        margin-top: -10px;

        > .arrow {
            left: 50%;
            margin-left: -11px;
            border-bottom-width: 0;
            border-top-color: #999999;
            border-top-color: #e0e0e0;
            bottom: -11px;
        }
        > .arrow:after {
            content: " ";
            bottom: 1px;
            margin-left: -10px;
            border-bottom-width: 0;
            border-top-color: #ffffff;
        }
    }

    &.right {
        margin-left: 10px;

        > .arrow {
            top: 50%;
            left: -11px;
            margin-top: -11px;
            border-left-width: 0;
            border-right-color: #999999;
            border-right-color: #e0e0e0;
        }
        > .arrow:after {
            content: " ";
            left: 1px;
            bottom: -10px;
            border-left-width: 0;
            border-right-color: #ffffff;
        }
    }

    &.bottom {
        margin-top: 10px;

        > .arrow {
            left: 50%;
            margin-left: -11px;
            border-top-width: 0;
            border-bottom-color: #999999;
            border-bottom-color: #e0e0e0;
            top: -11px;
        }
        > .arrow:after {
            content: " ";
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #ffffff;
        }
    }

    &.left {
        margin-left: -10px;

        > .arrow {
            top: 50%;
            right: -11px;
            margin-top: -11px;
            border-right-width: 0;
            border-left-color: #999999;
            border-left-color: #e0e0e0;
        }
        > .arrow:after {
            content: " ";
            right: 1px;
            border-right-width: 0;
            border-left-color: #ffffff;
            bottom: -10px;
        }
    }

    > .arrow {
        border-width: 11px;
    }

    > .arrow:after {
        border-width: 10px;
        content: "";
    }

    > .arrow,
    > .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .popover-content {
        padding: 10px;
        text-align: center;
        color: #333;
        font-size: 14px;
        font-family: '微软雅黑';
    }

    .popover-foot {
        button {
            padding: 5px 20px;
            display: block;
            font-size: 13px;
            text-align: center;
            color: #0e90d2;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            background: none;
            border: 0;
            border-top: 1px solid #ccc;
            width: 50%;
            outline: 0;

            &:hover {
                background: #d4d4d4
            }

            &:active {
                background: #555;
            }

            &:first-child {
                border-right: 1px solid #ccc;
            }
        }
    }
}