<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tqmars.cardrecycle.domain.entities.data">
    <select id="get" resultType="hashMap">
        ${value}
    </select>

    <insert id="insert">
        ${value}
    </insert>

    <insert id="insertAndGetId" useGeneratedKeys="true" parameterType="map" keyProperty="id">
        ${value}
    </insert>

    <update id="update">
        ${value}
    </update>

    <update id="updateSpec">
        ${value}
    </update>

    <delete id="deleteById">
        ${value}
    </delete>

    <select id="getAll" resultType="hashMap">
        ${value}
    </select>

    <select id="getAllWithCondition" resultType="hashMap">
        ${value}
    </select>

    <select id="single" resultType="hashMap">
        ${value}
    </select>

    <select id="count" resultType="int">
        ${value}
    </select>

    <delete id="delete">
        ${value}
    </delete>

</mapper>