<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- scan files（inject application layer automatically） -->
    <bean id="DbContext" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.DbContext"/>
    <bean id="RepositoryBase" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.RepositoryBase">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="Repository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.Repository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="AdminRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.AdminRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="UserRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.UserRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="OrderDetailsRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.OrderDetailsRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="BankAccountRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.BankAccountRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="BankRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.BankRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="CardTypeRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.CardTypeRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="WithdrawRecordDetailsRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.WithdrawRecordDetailsRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="CardTypeItemRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.CardTypeItemRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="WalletRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.WalletRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="WithdrawRecordRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.WithdrawRecordRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="OrderRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.OrderReposiroty">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="CardRepository" class="com.tqmars.cardrecycle.infrastructure.mybatis.repositories.CardRepository">
        <constructor-arg index="0" ref="DbContext"/>
    </bean>

    <bean id="CardTypeDomainService" class="com.tqmars.cardrecycle.domain.services.card.CardTypeDomainService">
        <constructor-arg index="0" ref="CardTypeRepository"/>
        <constructor-arg index="1" ref="CardTypeItemRepository"/>
    </bean>

    <bean id="WithdrawDomainService" class="com.tqmars.cardrecycle.domain.services.withdraw.WithdrawDomainService">
        <constructor-arg index="0" ref="WalletRepository"/>
        <constructor-arg index="1" ref="WithdrawRecordRepository"/>
    </bean>

    <bean id="SaleDomainService" class="com.tqmars.cardrecycle.domain.services.sale.SaleDomainService">
        <constructor-arg index="0" ref="OrderRepository"/>
        <constructor-arg index="1" ref="CardTypeItemRepository"/>
        <constructor-arg index="2" ref="CardTypeRepository"/>
        <constructor-arg index="3" ref="CardRepository"/>
    </bean>

    <bean id="CallbackDomainService" class="com.tqmars.cardrecycle.domain.services.callback.CallbackDomainService">
        <constructor-arg index="0" ref="OrderRepository"/>
        <constructor-arg index="1" ref="WalletRepository"/>
        <constructor-arg index="2" ref="CardRepository"/>
    </bean>

    <bean id="CallbackAppService" class="com.tqmars.cardrecycle.application.callback.CallbackAppService">
        <constructor-arg index="0" ref="CallbackDomainService"/>
    </bean>

    <bean id="SaleAppService" class="com.tqmars.cardrecycle.application.sale.SaleAppService">
        <constructor-arg index="0" ref="SaleDomainService"/>
    </bean>

    <bean id="UserAppService" class="com.tqmars.cardrecycle.application.User.UserAppService">
        <constructor-arg index="0" ref="UserRepository"/>
        <constructor-arg index="1" ref="WalletRepository"/>
    </bean>

    <bean id="BankAppService" class="com.tqmars.cardrecycle.application.admin.bank.BankAppService">
        <constructor-arg index="0" ref="BankRepository"/>
    </bean>

    <bean id="WalletAppService" class="com.tqmars.cardrecycle.application.wallet.WalletAppService">
        <constructor-arg index="0" ref="WalletRepository"/>
    </bean>

    <bean id="AdminCardTypeAppService" class="com.tqmars.cardrecycle.application.admin.card.AdminCardTypeAppService">
        <constructor-arg index="0" ref="CardTypeDomainService"/>
    </bean>

    <bean id="AdminUserAppService" class="com.tqmars.cardrecycle.application.admin.user.AdminUserAppService">
        <constructor-arg index="0" ref="AdminRepository"/>
    </bean>

    <bean id="BusinessAppService" class="com.tqmars.cardrecycle.application.admin.business.BusinessAppService">
        <constructor-arg index="0" ref="UserRepository"/>
    </bean>

    <bean id="AdminOrderAppService" class="com.tqmars.cardrecycle.application.admin.order.AdminOrderAppService">
        <constructor-arg index="0" ref="OrderDetailsRepository"/>
    </bean>

    <bean id="OrderAppService" class="com.tqmars.cardrecycle.application.order.OrderAppService">
        <constructor-arg index="0" ref="OrderDetailsRepository"/>
    </bean>

    <bean id="AdminWithdrawAppService" class="com.tqmars.cardrecycle.application.admin.withdraw.AdminWithdrawAppService">
        <constructor-arg index="0" ref="WithdrawRecordDetailsRepository"/>
        <constructor-arg index="1" ref="WithdrawDomainService"/>
        <constructor-arg index="2" ref="WithdrawRecordRepository"/>
    </bean>

    <bean id="SecurityAppService" class="com.tqmars.cardrecycle.application.security.SecurityAppService">
        <constructor-arg index="0" ref="UserRepository"/>
    </bean>

    <bean id="CardTypeAppService" class="com.tqmars.cardrecycle.application.card.CardTypeAppService">
        <constructor-arg index="0" ref="CardTypeRepository"/>
        <constructor-arg index="1" ref="CardTypeItemRepository"/>
    </bean>

    <bean id="WithDrawAppService" class="com.tqmars.cardrecycle.application.withdraw.WithdrawAppService">
        <constructor-arg index="0" ref="WithdrawRecordRepository"/>
        <constructor-arg index="1" ref="UserRepository"/>
        <constructor-arg index="2" ref="WalletRepository"/>
    </bean>

    <bean id="BankAccountAppService" class="com.tqmars.cardrecycle.application.bank.BankAppService">
        <constructor-arg index="0" ref="RepositoryBase"/>
        <constructor-arg index="1" ref="BankRepository"/>
    </bean>

</beans>